<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @answer.description %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question_id %>
</p>

<a href="#" onclick="GoBackWithRefresh();return false;">Voltar</a>


<script>
    function GoBackWithRefresh(event) {
        if ('referrer' in document) {
            window.location = document.referrer;
        } else {
            window.history.back();
        }
    }
</script>