@import "~bootstrap/scss/bootstrap";

.content-left{
  position: absolute;
  overscroll-behavior: auto;
  width: 200px;
  top: 130px;
}
.reply{
  text-decoration-color: #1b1e21;
}
.content-center{
  position: absolute;
  overscroll-behavior: auto;
  left: 225px;
  top: 130px;
}
.reply{
  color: #1b1e21;
}

.list-group .texto-menu{
  text-decoration: none;
  color: #1b1e21;
}

.texto-menu:hover{
  font-weight: bold;
  background: #3FA14C;
  color: #ffffff;
}

.ico_sidebar{
  width: 23px;
  height: 23px;
}



.scroll-container {
  overflow-y: scroll;
  height: 87vh;
}

.scrollbar-dusty-grass::-webkit-scrollbar {
  width: 12px;
  background-color: white;
  /*background-color: #F5F5F5;*/
}


.tipo_check{
  position: absolute;
  top: 13px;
}

.btn-black-mod{
  color: #000;
  width: auto;
  height: 35px;
  display: inline-block;

}

#site_foot{
  position: absolute;
  bottom: 1px;
}
#site_foot b{
  font-size: 12px;
  margin-left: 23px;
}